

.services {
    padding: 116px 0 0;

    .services__container {
        width: 100%;
        .services__slide{
            height: auto !important;
     
            .services__box {
                background-color: #323232;
                border-radius: 8px;
                padding: 174px 30px 30px;
                margin-top: 174px;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: 100% 75%;
                position: relative;
                height: calc(100% - 174px);
        
                img {
                    height: 288px;
                    width: calc(100% - 60px);
                    position: absolute;
                    top: -144px;
                }
                
                
            }
        
            .services__box p:nth-child(2) {
                font-weight: 700;
                font-size: 24px;
                color: #FFFFFF;
            }
        }

        
    }

}