@mixin backgrounds($image,$size){
    background-image: $image;
    background-size: $size;
}
@mixin sizes($height,$width){
    height: $height;
    width: $width;
}
@mixin fonts($weight,$size){
    font-weight: $weight;
    font-size: $size;
}

.projects {
    padding: 116px 0 0;

    &__container {
        h2 {
            margin: 0 0 60px;
        }

        >div {
            margin: 0;
            width: 100%;
            justify-content: space-between;

            .projects__box {
                @include sizes(350px,49%);
                border-radius: 8px;
                display: flex;
                padding: 0 0 17px 19px;
                align-items: flex-end;

                a {
                    padding: 9px 20px;
                    background-color: #F1C761;
                    border-radius: 24px;
                    text-decoration: none;
                    @include fonts(700,32px);
                    color: #323232;
                }
            }

            @media screen and (max-width: 768px) {
                .projects__box {
                    display: none;
                }
            }
        }

        >div .projects__box:nth-child(1) {
            @include backgrounds(url('../../assets/images//project-1.png'), 100% 100%);
        }

        >div .projects__box:nth-child(2) {
            @include backgrounds(url('../../assets/images//project-2.png'), 100% 100%);
        }

        >div .projects__box:nth-child(3) {
            @include backgrounds(url('../../assets/images//project-3.png'), 100% 100%);
        }

        >div .projects__box:nth-child(4) {
            @include backgrounds(url('../../assets/images//project-4.png'), 100% 100%);
        }

        >div .projects__box:nth-child(5) {
            @include backgrounds(url('../../assets/images//project-5.png'), 100% 100%);
        }

        >div .projects__box:nth-child(6) {
            @include backgrounds(url('../../assets/images//project-6.png'), 100% 100%);
        }
        .projects__swiper {
            display: none;
    
            .projects__slide {
                .projects__box {
                    @include sizes(450px,100%);
                    border-radius: 8px;
                    display: flex;
                    padding: 0 0 17px 19px;
                    align-items: flex-end;
    
                    a {
                        padding: 9px 20px;
                        background-color: #F1C761;
                        border-radius: 24px;
                        text-decoration: none;
                        @include fonts(700,32px);
                        color: #323232;
                    }
                }
    
                .box1,
                .box2,
                .box3,
                .box4,
                .box5,
                .box6 {
                    background-size: 100% 100%;
                }
    
                .box1 {
                    background-image: url('../../assets/images//project-1.png');
                }
    
                .box2 {
                    background-image: url('../../assets/images//project-2.png');
                }
    
                .box3 {
                    background-image: url('../../assets/images//project-3.png');
                }
    
                .box4 {
                    background-image: url('../../assets/images//project-4.png');
                }
    
                .box5 {
                    background-image: url('../../assets/images//project-5.png');
                }
    
                .box6 {
                    background-image: url('../../assets/images//project-6.png');
                }
    
            }
    
            @media screen and (max-width: 768px) {
                display: flex;
            }
        }

    }

}