@mixin sizes($height,$width){
    height: $height;
    width: $width;
}

.ribbon {
    padding: 116px 0 0;

    >div {
        

        .ribbon__slide {
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            @include sizes(auto !important,calc(50% - 30px) !important );

            .ribbon__box {

                background-color: #323232;
                border-radius: 8px;
                padding: 174px 30px 30px;
                margin-top: 174px;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: 100% 75%;
                position: relative;
                height: calc(100% - 174px);

                img {
                    @include sizes(288px,calc(100% - 60px) );
                    position: absolute;
                    top: -144px;
                }

                >p:first-of-type {
                    font-weight: 700;
                    font-size: 24px;
                    color: #FFFFFF;
                }
            }

            @media screen and (max-width: 992px) {
                width: 100% !important;
            }

            
        }

        
    }


}