@mixin sizes($height,$width){
    height: $height;
    width: $width;
}
@mixin color-fontSize($color,$size){
    color: $color;
    font-size: $size;
}
@mixin flex($flex,$content){
    display: $flex;
    justify-content:$content;
}

.contacts {
    padding: 110px 0 0;

    .contacts__container {
        @include flex(flex,space-between );
        flex-wrap: wrap;
        @media screen and (max-width: 768px){
            row-gap: 30px;
        }

        .contacts__box {
            width: 49%;
            iframe{
                @include sizes(460px,100% );
                border-radius: 16px;
                border: none;
            }
            
        }
        .contacts__box:first-of-type{
            @media screen and (max-width: 992px){
                width: 55%;
            }
            @media screen and (max-width: 768px){
                width: 100%;
                
            }
            @media screen and (max-width: 576px){
                iframe{
                    height: 400px;
                }
            }
        }
        .contacts__box:last-of-type {
            flex-direction: column;
            @include flex(flex,center);
            @include sizes(auto,40% );
            @media screen and (max-width: 768px){
                width: 100%;
                align-items: center;
            }
            @media screen and (max-width: 576px){
                align-items: flex-start;
            }

            >div {
                display: flex;
                align-items: center;
                column-gap: 20px;
                font-style: normal;
                font-weight: 400;
                @include color-fontSize(#FFFFFF,20px );

                a {
                    text-decoration: none;
                    @include color-fontSize(#FFFFFF,20px );
                }

                img {
                    @include sizes(48px,48px);
                }
            }

            >div:nth-of-type(2) {
                margin: 16px 0;
            }
            >button{
                text-transform: uppercase;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 24px;
                padding: 14px 56px;
                margin: 20px 0 0;
                font-weight: 700;
                width: 220px;
                @include color-fontSize(#FFFFFF,14px );
            }

        }
        
    }
}